.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  padding-top: 6vh;
  justify-content: center;
}

.actionButton {
  position: fixed;
  z-index: 1;
  bottom: 80px;
  right: 60px;
}

.homeScreen {
  width: auto;
  display: flex;
  flex-direction: column;
}

.bookList {
  height: 80vh;
  overflow: overlay;
}

.bookCover {
  width: 100%;
}

.bottomIcons {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 0;
  width: 100%;
}

.scannerArea {
  width: 100vw;
}

.addNewBookForm {
  display: flex;
  flex-direction: column;
  padding: 18vh 5vw;
  justify-content: space-around;
  height: 43vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
